In [2]:
import pandas as pd

In [3]:
# 读取 HR.csv 形成DataFrame
hr_data = pd.read_csv(
    'data/HR.csv',
    encoding='GBK'
)  # UnicodeDecodeError, encoding=...
hr_data.head(2)

   员工满意度  考核评分  项目数量  每月在公司工作时间  司龄  工作事故  是否离职  五年内是否升职     部门      薪水
0   0.38  0.53     2        157   3     0     1        0  sales     low
1   0.80  0.86     5        262   6     0     1        0  sales  medium

# 练习    
1. 数据形状
2. 都有哪些列
3. 统计有哪些部门,每个部门人数是多少
4. 离职情况-离职 未离职人数分别是多少？离职率是多少
5. 薪资情况-几种等级，各自占比
6. 员工满意度,工作时长的均值
7. 升职的概率

In [5]:
# 1. 数据形状
hr_data.shape

(14999, 10)

In [19]:
len(hr_data)

14999

In [7]:
# 2. 都有哪些列
hr_data.columns

Index(['员工满意度', '考核评分', '项目数量', '每月在公司工作时间', '司龄', '工作事故', '是否离职', '五年内是否升职',
       '部门', '薪水'],
      dtype='object')

In [18]:
# 3. 统计有哪些部门,每个部门人数是多少
hr_data['部门'].nunique()
# hr_data['部门'].value_counts()

10

In [22]:
# 4. 离职情况-离职 未离职人数分别是多少？离职率是多少
hr_data['是否离职'].value_counts()/len(hr_data)

是否离职
0    0.761917
1    0.238083
Name: count, dtype: float64

In [25]:
# 5. 薪资情况-几种等级，各自占比
hr_data['薪水'].value_counts()/14999

薪水
low       0.487766
medium    0.429762
high      0.082472
Name: count, dtype: float64

In [27]:
# 6. 员工满意度,工作时长的均值
hr_data[['员工满意度','每月在公司工作时间']].mean()

员工满意度          0.612834
每月在公司工作时间    201.050337
dtype: float64

In [30]:
# 7. 升职的概率
hr_data['五年内是否升职'].value_counts()/14999

五年内是否升职
0    0.978732
1    0.021268
Name: count, dtype: float64

In [33]:
# 8. 取出满意度1  满意度0.09
hr_data['员工满意度'].max()
hr_data['员工满意度'].min()

0.09

In [34]:
# 取出满意度1
hr_data[hr_data['员工满意度']==1]

,员工满意度,考核评分,项目数量,每月在公司工作时间,司龄,工作事故,是否离职,五年内是否升职,部门,薪水
2023,1.0,0.41,4,174,3,0,0,0,technical,low
2101,1.0,0.74,3,220,4,0,0,0,technical,low
2111,1.0,0.92,5,161,3,1,0,0,support,low
2163,1.0,0.49,3,185,2,0,0,0,sales,low
2193,1.0,0.66,4,180,3,0,0,0,technical,low
...,...,...,...,...,...,...,...,...,...,...
13283,1.0,0.86,2,264,3,0,0,0,IT,medium
13333,1.0,0.77,5,269,3,0,0,0,sales,low
13417,1.0,0.72,5,194,7,1,0,0,sales,medium
13540,1.0,0.74,2,187,3,0,0,0,support,medium
13586,1.0,0.93,5,167,3,0,0,0,sales,medium

In [35]:
# 取出满意度0.09
hr_data[hr_data['员工满意度']==0.09]

,员工满意度,考核评分,项目数量,每月在公司工作时间,司龄,工作事故,是否离职,五年内是否升职,部门,薪水
22,0.09,0.95,6,304,4,0,1,0,sales,low
30,0.09,0.62,6,294,4,0,1,0,accounting,low
44,0.09,0.89,6,276,4,0,1,0,technical,low
71,0.09,0.77,5,275,4,0,1,0,product_mng,medium
73,0.09,0.87,7,295,4,0,1,0,product_mng,low
...,...,...,...,...,...,...,...,...,...,...
14909,0.09,0.93,6,279,4,0,1,0,technical,low
14918,0.09,0.89,6,282,4,0,1,0,support,low
14963,0.09,0.95,6,271,4,0,1,0,sales,low
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14991,0.09,0.81,6,257,4,0,1,0,support,low

In [36]:
hr_data[(hr_data['员工满意度']==0.09)|(hr_data['员工满意度']==0.09)]

       员工满意度  考核评分  项目数量  每月在公司工作时间  司龄  工作事故  是否离职  五年内是否升职       部门      薪水
0       0.38  0.53     2        157   3     0     1        0    sales     low
1       0.80  0.86     5        262   6     0     1        0    sales  medium
2       0.11  0.88     7        272   4     0     1        0    sales  medium
3       0.72  0.87     5        223   5     0     1        0    sales     low
4       0.37  0.52     2        159   3     0     1        0    sales     low
...      ...   ...   ...        ...  ..   ...   ...      ...      ...     ...
14994   0.40  0.57     2        151   3     0     1        0  support     low
14995   0.37  0.48     2        160   3     0     1        0  support     low
14996   0.37  0.53     2        143   3     0     1        0  support     low
14997   0.11  0.96     6        280   4     0     1        0  support     low
14998   0.37  0.52     2        158   3     0     1        0  support     low

[14999 rows x 10 columns]